:root {
  --primary-color: #002460;
  --secondary-color: #ffc458;
  --accent-color: #f1f1f1;
}

* {
  box-sizing: border-box;
  border: 0px;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--accent-color);
  overflow-x: hidden;
  width: 100vw;
}

input:focus {
  outline: none;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 5px 50px;
  background-color: white;
  z-index: 100;
}

.background-color-transition {
  transition: background-color 400ms linear;
}

.left-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  width: 380px;
}

.dropdown-buy {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  width: 100px;
  margin-left: 20px;
}

.dropdown-buy span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  margin: 15px 0px 0px 10px;
  padding-bottom: 35px;
}

.dropdown-buy span img {
  margin-left: 5px;
}

.dropdown-buy span:hover {
  cursor: pointer;
}

.dropdown-buy span:hover img {
  transform: rotate(180deg);
  transition: transform ease-out 150ms;
}

.dropdown-buy .dropdown-buy-content {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  left: -190%;
  width: 85vw;
  z-index: 1;
  min-height: 200px;
  margin: 0px auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
  padding: 20px 30px 50px 20px;
}

.dropdown-buy .dropdown-buy-content::after {
  content: "";
  flex: auto;
}

.dropdown-buy:hover .dropdown-buy-content {
  display: flex;
}

.all-categories {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
  position: absolute;
  left: 20px;
  bottom: 5%;
}

.dropdown-buy-entry {
  display: flex;
  flex-direction: column;
  height: 175px;
  width: 200px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.dropdown-buy-entry a:first-child {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-buy-entry a {
  color: var(--primary-color);
  margin-top: 10px;
  font-size: 12px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
  align-items: center;
  height: 40px;
  width: 520px;
  position: relative;
  border: 2px solid var(--accent-color);
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.search-bar input[type="text"] {
  height: 20px;
  width: 100%;
  font-size: 14px;
  margin-left: 5px;
}

.search-bar .dropdown-search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 100%;
  position: absolute;
  display: none;
  top: 45px;
  left: 0px;
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
}

.search-bar .dropdown-search .dropdown-search-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  width: 100%;
  border-radius: 0px;
  padding: 10px 10px 10px 20px;
  background-color: white;
  margin: 0px;
}

.search-bar .dropdown-search .dropdown-search-item a {
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: black;
}

.search-bar .dropdown-search .dropdown-search-item a:hover {
  background-color: var(--accent-color);
}

.right-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 350px;
}

.right-action .dropdown-item span {
  font-size: 18px;
}

.cart-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: var(--primary-color);
  font-weight: bold;
  height: 40px;
  width: 95px;
  padding: 17px;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid var(--accent-color);
  margin-left: 40px;
}

.admin-staff-menus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: clamp(1rem, 1.1vw, 1.2rem);
  font-weight: bold;
}
.admin-staff-menus a {
  color: var(--primary-color);
  text-decoration: none;
  margin-left: 20px;
  white-space: nowrap;
}

.highlighted {
  margin-top: 3px;
  border-bottom: 3px solid var(--primary-color);
}

.highlighted-span {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.dropdown-item {
  position: relative;
  display: inline-block;
}

.dropdown-item span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  margin: 40px 0px 0px 20px;
  padding-bottom: 40px;
  font-weight: bold;
  white-space: nowrap;
}

.dropdown-item span img {
  margin-left: 5px;
}
.dropdown-item span:hover {
  cursor: pointer;
}

.dropdown-item span:hover img {
  transform: rotate(180deg);
}

.dropdown-item .dropdown-item-content {
  display: none;
  position: absolute;
  left: -60%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 1;
  height: auto;
  width: 250px;
  background-color: white;
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0px 10px 10px 10px;
}

.right-action .dropdown-item .dropdown-item-content {
  left: -15%;
}
.yellow {
  background-color: var(--secondary-color) !important;
}

.dropdown-item-content a {
  color: var(--primary-color);
  height: 40px;
  width: 230px;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  margin: 10px 0px 0px 0px;
  border-radius: 5px;
  text-decoration: none;
}

.dropdown-item-content a:hover {
  background-color: var(--accent-color);
}

.dropdowned {
  transform: rotate(180deg);
  transition: transform ease-out 100ms;
}

.dropdown-item:hover .dropdown-item-content {
  display: flex;
}

.auth-header-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  background-color: var(--primary-color);
  color: white !important;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  margin-left: 35px;
  text-decoration: none;
  transition: transform ease 100ms;
}

.auth-header-btn:hover {
  transform: scale(1.1);
  font-size: 16px;
  box-shadow: 7px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 455px;
  height: auto;
  width: 350px;
  padding: 40px 20px;
  border-radius: 5px;
  background-color: white;
  color: var(--primary-color);
  margin: 40px auto;
}
.auth-form h1 {
  font-size: 36px;
  margin-bottom: 42px;
}

.form-textfield {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  width: 100%;
  padding: 10px;
  background-color: #f1f4f8;
  border-radius: 5px;
}

.form-textfield input[type="text"],
input[type="password"],
input[type="email"] {
  height: 16px;
  width: 100%;
  background-color: #f1f4f8;
  margin-left: 10px;
  font-size: 14px;
}

.error-div-email,
.error-div-confirm-password {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  width: 100%;
  color: red;
  font-size: 13px;
  padding: 10px;
}

.error-div-password {
  min-height: 40px;
  height: auto;
  width: 100%;
  color: red;
  font-size: 13px;
}

.error-div-password ul {
  margin-left: 20px;
  margin-bottom: 10px;
}

.error-div-password li {
  margin-top: 10px;
}

.error-div-password p {
  margin: 10px 0px 10px 10px;
}

.auth-button {
  height: 40px;
  width: 100%;
  border-radius: 3px;
  background-color: var(--secondary-color);
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

.auth-button:hover {
  cursor: pointer;
}

.home-main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
  margin: 0px 50px;
}

.title-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-wrapper h1 {
  color: var(--primary-color);
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}

.title-wrapper p {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: bold;
  line-height: 35px;
  width: 85%;
  margin-left: 5px;
}

.title-actions {
  margin-top: 42px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.title-actions a:first-child {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 120px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 22px;
  text-decoration: none;
  padding: 20px;
  transition: transform ease-in 100ms;
}
.title-actions a:last-child {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 120px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 22px;
  text-decoration: none;
  padding: 20px;
  transition: transform ease 100ms;
}

.title-actions a:hover {
  transform: scale(1.1);
  font-size: 16px;
  box-shadow: 7px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.illustration-wrapper {
  width: 40%;
}

.illustration-wrapper img {
  height: 400px;
  width: 100%;
  /* margin-left: 50px; */
}

.home-page-circle-1 {
  position: absolute;
  width: 5.5vw;
  height: 5.5vw;
  border-radius: 50%;
  background-color: rgba(0, 36, 96, 13%);
  top: 16%;
  left: 32%;
  z-index: -1;
}

.home-page-circle-2 {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: rgba(241, 80, 80, 13%);
  top: 16%;
  left: 52%;
  z-index: -1;
}

.home-page-circle-3 {
  position: absolute;
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  background-color: rgba(0, 36, 96, 13%);
  top: 70%;
  left: 40%;
  z-index: -1;
}

.home-items-section {
  height: auto;
  width: 100%;
  margin: 100px auto 100px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.book-preview {
  background-color: white;
  height: 380px;
  width: 230px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  margin-left: 25px;
  margin-top: 25px;
  transition: transform ease 100ms;
  text-decoration: none;
}

.book-preview:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.book-preview-coverimage {
  height: 200px;
  width: 150px;
  border-radius: 5px;
}

.book-preview-title-author {
  /* padding: 10px 0px 0px 10px; */
  align-self: flex-start;
  padding-top: 10px;
  color: var(--primary-color);
  font-weight: 400;
  height: 90px;
  width: 100%;
}

.book-preview-title-author h1 {
  line-height: 20px;
  font-size: 16px;
}

.book-preview-title-author p {
  margin-top: 10px;
  font-size: 14px;
}

.book-preview-title-author p span {
  color: var(--secondary-color);
}

.book-preview-price-addtocart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 22px;
  font-weight: bold;
  color: var(--primary-color);
  padding-top: 10px;
}

.book-preview-price-addtocart img {
  justify-self: flex-end;
}

.book-preview-price-addtocart img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

footer {
  width: 100%;
  height: 300px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 32px 64px;
}

.contact-info-title {
  /* display: block; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info-title h1 {
  color: var(--secondary-color);
  font-size: 32px;
  margin-left: 10px;
}

.contact-info-title img {
  height: 32px;
  width: 32px;
}

.contact-info-details {
  margin-top: 10px;
  color: white;
  font-weight: bold;
}

.contact-info-details p {
  margin-top: 7px;
}

.contact-info-details p:nth-child(6) {
  margin-left: 28px;
}

.follow-us-other-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
}

.follow-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 150px;
  height: 85px;
}

.follow-us h1 {
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: bold;
}

.other-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.other-links p {
  color: var(--secondary-color);
  font-weight: bold;
}

.other-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-top: 7px;
}

.social-media-icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.secure-cards-copyright {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.secure-cards-copyright p {
  color: white;
  font-weight: bold;
  display: flex;
}

.secure-cards-copyright h1 {
  color: var(--secondary-color);
  font-size: 26px;
}

.credit-card-icons {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
