:root {
  --primary-color: #002460;
  --secondary-color: #ffc458;
  --accent-color: #f1f1f1;
}

* {
  box-sizing: border-box;
  border: 0px;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--accent-color);
  -webkit-tap-highlight-color: transparent;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

select:focus {
  outline: none;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 5px 30px;
  background-color: white;
  z-index: 100;
}

.header-logo {
  display: none;
}

.has-shadow {
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.1);
}

.background-color-transition {
  transition: background-color 400ms linear;
}

.left-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  width: 380px;
}

.dropdown-buy {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  width: 100px;
  margin-left: 20px;
}

.dropdown-buy span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  margin: 15px 0px 0px 10px;
  padding-bottom: 35px;
}

.dropdown-buy span img {
  margin-left: 5px;
}

.dropdown-buy span:hover {
  cursor: pointer;
}

.dropdown-buy span:hover img {
  transform: rotate(180deg);
  transition: transform ease-out 150ms;
}

.dropdown-buy .dropdown-buy-content {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  left: -190%;
  width: 85vw;
  z-index: 1;
  min-height: 200px;
  margin: 0px auto;
  background-color: white;
  border-radius: 5px;
  /* box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2); */
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.1);

  padding: 20px 30px 50px 20px;
}

.dropdown-buy .dropdown-buy-content::after {
  content: "";
  flex: auto;
}

.dropdown-buy:hover .dropdown-buy-content {
  display: flex;
}

.all-categories {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
  position: absolute;
  left: 20px;
  bottom: 5%;
}

.dropdown-buy-entry {
  display: flex;
  flex-direction: column;
  height: 175px;
  width: 200px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.dropdown-buy-entry a:first-child {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-buy-entry a {
  color: var(--primary-color);
  margin-top: 10px;
  font-size: 12px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-bar {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
  align-items: center;
  height: 40px;
  width: auto;
  position: relative;
  border: 2px solid var(--accent-color);
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.search-bar input[type="text"] {
  height: 20px;
  width: 100%;
  font-size: 14px;
  margin-left: 5px;
}

.search-bar .dropdown-search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 100%;
  position: absolute;
  top: 45px;
  left: 0px;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
}

.search-bar .dropdown-search .dropdown-search-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: 100%;
  border-radius: 0px;
  background-color: white;
  margin: 0px;
  cursor: pointer;
}

.search-bar .dropdown-search .dropdown-search-item a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  width: 100%;
  min-height: 50px;
  height: auto;
  padding: 20px 15px;
  vertical-align: middle;
}

.search-bar .dropdown-search .dropdown-search-item:hover {
  background-color: var(--accent-color);
}

.search-bar .dropdown-search .dropdown-search-item:hover a {
  color: var(--primary-color);
}

.search-bar-error {
  margin-left: 20px;
  color: red;
  height: 40px;
  display: flex;
  align-items: center;
}

.right-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 350px;
}

.right-action .dropdown-item span {
  font-size: 18px;
}

.cart-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: var(--primary-color);
  font-weight: bold;
  height: 40px;
  width: 95px;
  padding: 17px;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid var(--accent-color);
  margin-left: 40px;
}

.admin-staff-menus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: clamp(1rem, 1.1vw, 1.2rem);
  font-weight: bold;
}
.admin-staff-menus a {
  color: var(--primary-color);
  text-decoration: none;
  margin-left: 20px;
  white-space: nowrap;
}

@media screen and (max-width: 720px) {
  .admin-staff-menus {
    display: none;
  }
}

.highlighted {
  margin-top: 3px;
  border-bottom: 3px solid var(--primary-color);
}

.highlighted-span {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.dropdown-item {
  position: relative;
  display: inline-block;
}

.dropdown-item span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  margin: 40px 0px 40px 20px;
  font-weight: bold;
  white-space: nowrap;
}

.dropdown-item span img {
  margin-left: 5px;
}
.dropdown-item span:hover {
  cursor: pointer;
}

.dropdown-item span:hover img {
  transform: rotate(180deg);
}

.dropdown-item .dropdown-item-content {
  display: none;
  position: absolute;
  left: -80%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 1;
  height: auto;
  width: 250px;
  background-color: white;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0px 10px 10px 10px;
}

.right-action .dropdown-item .dropdown-item-content {
  left: -15%;
}
.yellow {
  background-color: var(--secondary-color) !important;
}

.dropdown-item-content a {
  color: var(--primary-color);
  height: 40px;
  width: 230px;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  margin: 10px 0px 0px 0px;
  border-radius: 5px;
  text-decoration: none;
}

.dropdown-item-content a:hover {
  background-color: var(--accent-color);
}

.dropdowned {
  transform: rotate(180deg);
  transition: transform ease-out 100ms;
}

.dropdown-item:hover .dropdown-item-content {
  display: flex;
}

.dropdown-datalist {
  position: relative;
  display: inline-block;
}

.dropdown-datalist .dropdown-datalist-content {
  display: none;
  position: absolute;
  top: 50%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 1;
  height: auto;
  max-height: 250px;
  width: 200px;
  background-color: white;
  border-radius: 5px;
  margin-top: 3px;
  padding: 0px 5px 10px 5px;
  border: 1px solid #969191;
  overflow-y: auto;
}

.dropdown-datalist-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--primary-color);
  height: 40px;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  padding-left: 15px;
  border-radius: 5px;
}

.dropdown-datalist-item:hover {
  cursor: pointer;
  background-color: var(--accent-color);
}

.auth-header-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  background-color: var(--primary-color);
  color: white !important;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  margin-left: 35px;
  text-decoration: none;
  transition: transform ease 100ms;
}

.auth-header-btn:hover {
  transform: scale(1.1);
  font-size: 16px;
  box-shadow: 7px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hamburgermenu {
  display: none;
}

.sidenav {
  display: none;
}

@media screen and (max-width: 720px) {
  .sidenav {
    display: block;
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 200;
    overflow-x: hidden;
    transition: all 0.3s ease;
    padding: 60px 0px;
    border: 0px;
    background-color: white;
    box-shadow: -5px 0px 20px 2px rgba(0, 0, 0, 0.15);
  }

  .sidenav a {
    clear: both;
    float: left;
    width: auto;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 20px;
    text-decoration: none;
    white-space: nowrap;
  }
  .close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 40px;
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
  }
  header {
    padding: 5px 10px;
  }
  .header-brand {
    display: none;
  }
  header .dropdown-buy {
    display: none;
  }
  header .right-action {
    display: none;
  }
  header .left-action {
    /* width: auto; */
    display: none;
  }
  header .search-bar {
    margin-right: 10px;
  }
  .header-logo {
    display: block;
  }
  .hamburgermenu {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    min-width: 35px;
    height: 32px;
  }
  .bar {
    height: 6px;
    width: 100%;
    background-color: var(--primary-color);
  }
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 455px;
  height: auto;
  width: 350px;
  padding: 40px 20px;
  border-radius: 5px;
  background-color: white;
  color: var(--primary-color);
  margin: 40px auto;
}

@media screen and (max-width: 720px) {
  .auth-form {
    width: 300px;
  }
}
.auth-form h1 {
  font-size: 36px;
}

.empty-space {
  height: 50px;
}

.auth-form .success {
  width: 100%;
  height: 50px;
  padding-top: 12px;
  text-align: center;
  background-color: white;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
  font-size: 13px;
}

.auth-form-textfield {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  width: 100%;
  padding: 10px;
  background-color: #f1f4f8;
  border-radius: 5px;
}

.auth-form-textfield input[type="text"],
.auth-form-textfield input[type="password"],
.auth-form-textfield input[type="email"] {
  height: 16px;
  width: 100%;
  background-color: #f1f4f8;
  margin-left: 10px;
  font-size: 14px;
}

.error-div-email,
.error-div-confirm-password {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  width: 100%;
  color: red;
  font-size: 13px;
  padding: 10px;
}

.error-div-password {
  min-height: 40px;
  height: auto;
  width: 100%;
  color: red;
  font-size: 13px;
}

.error-div-password ul {
  margin-left: 20px;
  margin-bottom: 10px;
}

.error-div-password li {
  margin-top: 10px;
}

.error-div-password p {
  margin: 10px 0px 10px 10px;
}

.auth-button {
  height: 40px;
  width: 100%;
  border-radius: 3px;
  background-color: var(--secondary-color);
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

.auth-button:hover {
  cursor: pointer;
}

.home-main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
  margin: 0px 50px;
}

.title-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-wrapper h1 {
  color: var(--primary-color);
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}

.title-wrapper p {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: bold;
  line-height: 35px;
  width: 85%;
  margin-left: 5px;
}

.title-actions {
  margin-top: 42px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.title-actions a:first-child {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 120px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 22px;
  text-decoration: none;
  padding: 20px;
  transition: transform ease-in 100ms;
}
.title-actions a:last-child {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 120px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 22px;
  text-decoration: none;
  padding: 20px;
  transition: transform ease 100ms;
}

.title-actions a:hover {
  transform: scale(1.1);
  font-size: 16px;
  box-shadow: 7px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.illustration-wrapper {
  width: 40%;
}

.illustration-wrapper img {
  height: 400px;
  width: 100%;
}

.home-page-circle-1 {
  position: absolute;
  width: 5.5vw;
  height: 5.5vw;
  border-radius: 50%;
  background-color: rgba(0, 36, 96, 13%);
  top: 16%;
  left: 32%;
  z-index: -1;
}

.home-page-circle-2 {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: rgba(241, 80, 80, 13%);
  top: 16%;
  left: 52%;
  z-index: -1;
}

.home-page-circle-3 {
  position: absolute;
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  background-color: rgba(0, 36, 96, 13%);
  top: 70%;
  left: 40%;
  z-index: -1;
}
@media screen and (max-width: 720px) {
  .home-main-section {
    margin: 0px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
  }
  .illustration-wrapper {
    display: none;
  }
  .title-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title-wrapper h1 {
    font-size: 28px;
    text-align: center;
    white-space: nowrap;
  }
  .title-wrapper p {
    font-size: 18px;
    text-align: center;
    width: 333px;
  }
  .title-actions {
    justify-content: center;
    margin-top: 20px;
  }
  .title-actions a:last-child {
    margin-right: 0px;
  }
  .home-page-circle-1 {
    display: none;
  }
  .home-page-circle-2 {
    display: none;
  }
  .home-page-circle-3 {
    display: none;
  }
}

.home-items-section {
  height: auto;
  width: 100%;
  margin: 20px auto 200px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 50px;
}

.home-latest-title {
  font-size: 32px;
  color: var(--primary-color);
  margin: 30px 0px 30px 60px;
}

@media screen and (max-width: 720px) {
  .home-items-section {
    margin: 0px auto 100px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-latest-title {
    text-align: center;
    margin-right: 50px;
  }
}

.book-preview {
  background-color: white;
  height: 380px;
  width: 230px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 15px;
  margin-top: 25px;
  transition: transform ease 100ms;
  text-decoration: none;
  border: 2px solid var(--accent-color);
}

.book-preview:hover {
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.book-preview-coverimage {
  height: 200px;
  width: 150px;
  border-radius: 5px;
}

.book-preview-title-author {
  padding: 10px 0px 0px 10px;
  align-self: flex-start;
  padding-top: 10px;
  color: var(--primary-color);
  font-weight: 400;
  height: 90px;
  width: 100%;
}

.book-preview-title-author h1 {
  line-height: 20px;
  font-size: 16px;
}

.book-preview-title-author p {
  margin-top: 10px;
  font-size: 14px;
}

.book-preview-title-author p span {
  color: var(--secondary-color);
}

.book-preview-price-addtocart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 22px;
  font-weight: bold;
  color: var(--primary-color);
  padding-top: 10px;
}

.book-preview-price-addtocart img {
  justify-self: flex-end;
}

.book-preview-price-addtocart img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

footer {
  width: 100%;
  height: 300px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 32px 64px;
}

.contact-info-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info-title h1 {
  color: var(--secondary-color);
  font-size: 32px;
  margin-left: 10px;
}

.contact-info-title img {
  height: 52px;
  width: 52px;
}

.contact-info-details {
  margin-top: 10px;
  color: white;
  font-weight: bold;
}

.contact-info-details p {
  margin-top: 7px;
}

.contact-info-details p:nth-child(6) {
  margin-left: 28px;
}

.follow-us-other-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
}

.follow-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 150px;
  height: 85px;
}

.follow-us h1 {
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: bold;
}

.other-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.other-links p {
  color: var(--secondary-color);
  font-weight: bold;
}

.other-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-top: 7px;
}

.social-media-icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.secure-cards-copyright {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.secure-cards-copyright p {
  color: white;
  font-weight: bold;
  display: flex;
}

.secure-cards-copyright h1 {
  color: var(--secondary-color);
  font-size: 26px;
}

.credit-card-icons {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

@media screen and (max-width: 720px) {
  footer {
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
  }
  .follow-us-other-links {
    height: 200px;
    margin-top: 50px;
  }
  .secure-cards-copyright {
    align-items: flex-start;
    margin-top: 50px;
  }
  .secure-cards-copyright p:last-child {
    margin-top: 50px;
  }
}

.your-details-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.your-details-form {
  width: 80%;
  min-height: 420px;
  height: auto;
  max-width: 760px;
}

.panel-main {
  width: auto;
  min-width: 1200px;
  height: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.05);
  margin: 25px 20px 25px 20px;
  padding: 35px 25px;
  display: flex;
  flex-direction: column;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
  margin-bottom: 32px;
}

#panel-header-search-results {
  text-transform: lowercase;
}
.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

@media screen and (max-width: 720px) {
  .panel-main {
    width: 90%;
    min-width: 90%;
    margin: 50px auto;
    padding: 35px 10px;
  }
  .panel-header {
    flex-direction: column;
    width: 100%;
  }
  .filter {
    width: 100%;
    margin-top: 50px;
    flex-direction: column;
  }
}
.filter-input {
  height: 40px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
  margin-left: 5px;
}

.operator {
  font-size: 25px;
  cursor: pointer;
}

.operator img {
  margin-left: 10px;
}

#operator-field {
  width: 80px;
  font-size: 25px;
  color: var(--primary-color);
}

.operator:hover .dropdown-filter {
  display: flex;
}

.column-field:hover .dropdown-filter {
  display: flex;
}

.column-field:hover {
  cursor: pointer;
}

.column-field input {
  color: var(--primary-color);
  font-weight: bold;
}

.column-field input:hover {
  cursor: pointer;
}

.filter-input input {
  width: 130px;
}

.search-value {
  display: flex;
}

@media screen and (max-width: 720px) {
  .filter-input:nth-child(2) {
    margin-top: 10px;
  }

  .filter-input input[type="text"] {
    width: 70%;
  }

  .search-value {
    margin-top: 10px;
  }
  #panel-header-search-results {
    font-size: 16px;
    margin-top: 30px;
    text-align: center;
  }
}

.dropdown-filter {
  display: none;
  position: absolute;
  top: 105%;
  left: -1px;
  height: auto;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  color: var(--primary-color);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
  font-weight: bold;
  z-index: 1;
}

.filter-item {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
}

.filter-item:hover {
  background-color: var(--accent-color);
}

.filter button[type="submit"] {
  background-color: var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.filter button[type="submit"]:hover {
  transform: scale(1.1);
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.panel-header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 40px;
  transition: 0.5s ease all;
}

.panel-header-actions h1 {
  font-size: 36px;
  font-weight: 500;
}
.panel-header-actions img {
  vertical-align: middle;
  margin-left: 10px;
}

.panel-header-actions img {
  transition: transform ease 100ms;
}

.panel-header-actions img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: var(--primary-color);
}

.table-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0px 5px;
}

.table {
  width: 100%;
  display: table;
  border-collapse: separate;
  border-spacing: 0 18px;
}

.row {
  display: table-row;
  width: 100%;
  height: 80px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
}

.header > .cell:first-child {
  border-radius: 5px 0 0 5px;
}

.header > .cell:last-child {
  border-radius: 0px 5px 5px 0px;
  text-align: center;
  width: 100px;
}

.cell {
  padding: 6px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
}

.cover {
  padding-left: 10px !important;
}

.cover img {
  width: 80px;
  height: 100px;
  border-radius: 5px;
}

.truncate {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row > .cell:first-child {
  padding-left: 30px;
}

.row > .cell:last-child {
  padding-right: 30px;
}

.table-actions {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease all;
}

.table-actions a {
  transition: transform ease 100ms;
}

.table-actions a:hover {
  cursor: pointer;
  transform: scale(1.4);
}

@media screen and (max-width: 720px) {
  .panel-header {
    flex-direction: column;
  }
  .header {
    display: none;
  }
  .table-wrapper {
    overflow-x: none;
    overflow-y: none;
    padding: 0px 3px;
  }
  .table {
    table-layout: fixed;
  }
  .cell {
    display: flex;
    height: auto;
    width: auto;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    text-align: left;
    padding-left: 20px;
    white-space: normal;
    word-break: break-all;
  }
  .cell::before {
    content: attr(data-title) ":";
    margin-right: 5px;
    color: var(--primary-color);
    font-weight: bold;
    word-break: keep-all;
  }
  .row {
    padding: 0px;
  }
  .row .cell:last-child {
    display: flex;
    align-items: center;
  }
  .table-actions {
    display: inline-block;
  }
  .cover {
    padding-left: 20px !important;
  }
  .truncate {
    max-width: fit-content;
    white-space: normal;
    overflow: unset;
    text-overflow: unset;
  }

  .row > .cell:first-child {
    padding-left: 20px;
  }

  .row > .cell:last-child {
    padding-right: 30px;
  }
}

.form-main {
  width: 100%;
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
  padding: 30px 50px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.05);
}

.form h1 {
  font-size: 24px;
  color: var(--primary-color);
  margin-bottom: 40px;
}

.flex-row {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.fields-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

@media screen and (max-width: 720px) {
  .fields-wrapper {
    flex-direction: column;
    justify-content: center;
    width: auto !important;
  }
}

.input-textfield {
  position: relative;
  width: auto;
  height: 80px;
}

.input-datalist {
  position: relative;
  width: auto;
  height: 80px;
}

.input-datalist p {
  color: red;
  font-size: 14px;
  padding: 5px 15px;
  margin-bottom: 25px;
}

@media screen and (max-width: 720px) {
  .input-datalist {
    margin-left: 0px !important;
  }
}

.input-checkbox {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-right: 100%;
  margin-left: 10px;
}

.input-checkbox input[type="checkbox"] {
  float: left;
  width: 20px;
}
.input-checkbox input[type="checkbox"] + label {
  display: block;
  width: 300px;
}

.input-checkbox label {
  margin-left: 5px;
}

@media screen and (max-width: 720px) {
  .responsive-password {
    height: auto;
    width: 200px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 720px) {
  .responsive-password {
    height: 110px;
  }
  .responsive-error-div {
    position: absolute;
    display: flex;
    height: auto;
    width: 300px;
    left: -20%;
    margin-bottom: 10px;
  }
  .responsive-password .floating-label {
    top: 18%;
  }
}
.input-textfield p {
  color: red;
  font-size: 14px;
  padding: 5px 15px;
  margin-bottom: 25px;
}

.form-textfield {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: #f1f4f8;
  padding: 0px 15px;
}

.form-datalist {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  padding: 0px 15px;
  border: 1px solid #969191;
}

.add-purchase-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  top: 25%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #6b727a;
  transition: 0.2s ease all;
  background-color: #f1f4f8;
  padding: 3px 5px;
  border-radius: 5px;
}

.floating-label-datalist {
  position: absolute;
  pointer-events: none;
  top: 25%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #6b727a;
  transition: 0.2s ease all;
  background-color: white;
  padding: 3px 5px;
  border-radius: 5px;
}

.form-textfield:focus ~ .floating-label,
.form-textfield:not(:focus):valid ~ .floating-label {
  top: 0px;
  left: 10px;
  font-size: 12px;
}

.form-textfield-readonly {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: #f1f4f8;
  padding: 0px 15px;
}

.form-textfield-readonly ~ .floating-label {
  top: 0px;
  left: 10px;
  font-size: 12px;
}

.form-datalist:focus ~ .floating-label-datalist,
.form-datalist:not(:focus):valid ~ .floating-label-datalist {
  top: 0px;
  left: 10px;
  font-size: 12px;
}

.form button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: auto;
  background-color: var(--secondary-color);
  color: white !important;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
  transition: transform ease 100ms;
  padding: 10px 30px;
}

.form button:hover {
  cursor: pointer;
  transform: scale(1.1);
  font-size: 16px;
}

.dropdown-status {
  position: relative;
  display: inline-block;
}

.dropdown-status span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  color: var(--primary-color);
  padding: 10px 0px;
  font-weight: bold;
  white-space: nowrap;
}

.dropdown-status span img {
  margin-left: 5px;
}
.dropdown-status span:hover {
  cursor: pointer;
}

.dropdown-status span:hover img {
  transform: rotate(180deg);
}

.dropdown-status .dropdown-status-content {
  display: none;
  position: absolute;
  left: -80%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 1;
  height: auto;
  width: auto;
  background-color: white;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
}

@media screen and (max-width: 720px) {
  .dropdown-status .dropdown-status-content {
    left: -150%;
  }
}

.dropdown-status-content a {
  color: var(--primary-color);
  width: 150px;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.dropdown-status-content a:hover {
  background-color: var(--accent-color);
}

.dropdown-status:hover .dropdown-status-content {
  display: flex;
}

.dropdown-description {
  position: relative;
  display: inline-block;
}

.dropdown-description span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  color: var(--primary-color);
  padding: 10px 0px;
  font-weight: bold;
  white-space: nowrap;
}

.dropdown-description span img {
  margin-left: 5px;
}
.dropdown-description span:hover {
  cursor: pointer;
}

.dropdown-description span:hover img {
  transform: rotate(180deg);
}

.dropdown-description .dropdown-description-content {
  display: none;
  position: absolute;
  left: -100%;
  z-index: 1;
  min-height: 100px;
  height: auto;
  width: 400px;
  background-color: white;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  resize: none;
}

@media screen and (max-width: 720px) {
  .dropdown-description .dropdown-description-content {
    right: -5%;
    width: 300px;
    left: auto;
  }
}

.dropdown-description:hover .dropdown-description-content {
  display: flex;
}

.default-form {
  width: 80%;
  min-height: 450px;
  height: auto;
  max-width: 600px;
}

.add-staff-form {
  width: 80%;
  min-height: 450px;
  height: auto;
  max-width: 800px;
}

.add-vendor-form {
  width: 80%;
  min-height: 450px;
  height: auto;
  max-width: 600px;
}

.add-card-form {
  width: 80%;
  min-height: 350px;
  height: auto;
  max-width: 800px;
}

.your-cards {
  width: 80%;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

.your-cards h1 {
  width: 80%;
  color: var(--primary-color);
  font-size: 24px;
  background-color: white;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
}

.add-card-form .back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  height: 50px;
}

.back-button a img {
  height: 32px;
  width: 32px;
  margin-bottom: 35px;
  margin-right: 30px;
}

.add-purchase-form {
  width: 90%;
  min-height: 450px;
  height: auto;
  max-width: 1000px;
}

.add-category-form {
  width: 80%;
  min-height: 350px;
  height: auto;
  max-width: 400px;
}

.add-subcategory-form {
  width: 80%;
  min-height: 350px;
  height: auto;
  max-width: 800px;
}

.add-item-form {
  width: 90%;
  min-height: 450px;
  height: auto;
}

.upload-holder {
  margin-right: 50px;
  width: 200px;
  height: 200px;
}
.upload-holder img {
  width: 200px;
  height: 250px;
  border: dashed 4px #7aa5df;
  object-fit: fill;
  margin-bottom: 20px;
}
.upload-holder p {
  color: red;
  font-size: 14px;
  margin-top: 15px;
}

.imagenfields {
  display: flex;
  height: auto;
}

.input-textarea {
  margin-bottom: 30px;
}

.input-textarea p {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.textarea-description {
  border: 2px solid #7aa5df;
  border-radius: 5px;
  margin-right: 250px;
  resize: none;
  padding: 5px;
  overflow: auto;
}

@media screen and (max-width: 720px) {
  .upload-holder {
    margin-right: 0px;
    width: 200px;
    height: 200px;
    margin-bottom: 150px;
  }
  .imagenfields {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .textarea-description {
    margin-right: 0px;
    width: 200px;
    height: 200px;
  }
}

.add-item-form button[type="submit"] {
  margin-bottom: 40px;
}
.edit-staff-form {
  width: 80%;
  min-height: 450px;
  height: auto;
}

.edit-customer-form {
  width: 60%;
  min-height: 450px;
  height: auto;
}

.toast-success {
  position: fixed;
  left: 35px;
  bottom: 35px;
  width: auto;
  height: 50px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  padding: 15px 20px 15px 15px;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.05);
  opacity: 1;
  animation: fadeOut 5s linear forwards;
  z-index: 300;
  background-color: #07bc0c;
}

.toast-warning {
  position: fixed;
  left: 35px;
  bottom: 35px;
  width: auto;
  height: 50px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  padding: 15px 20px 15px 15px;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.05);
  opacity: 1;
  animation: fadeOut 5s linear forwards;
  z-index: 300;
  background-color: #ff5e00;
}

.toast-warning-norefresh {
  position: fixed;
  left: 35px;
  bottom: 35px;
  width: auto;
  height: 50px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  padding: 15px 20px 15px 15px;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.05);
  opacity: 1;
  animation: fadeOut 5s linear forwards;
  z-index: 300;
  background-color: #ff5e00;
}

.toast-success-norefresh {
  position: fixed;
  left: 35px;
  bottom: 35px;
  width: auto;
  height: 50px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  padding: 15px 20px 15px 15px;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.05);
  opacity: 1;
  animation: fadeOut 5s linear forwards;
  z-index: 300;
  background-color: #07bc0c;
}

.toast-failure {
  position: fixed;
  left: 35px;
  bottom: 35px;
  width: auto;
  height: 50px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  padding: 15px 20px 15px 15px;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.05);
  opacity: 1;
  animation: fadeOut 5s linear forwards;
  z-index: 300;
  background-color: red;
}

.toast-failure-norefresh {
  position: fixed;
  left: 35px;
  bottom: 35px;
  width: auto;
  height: 50px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  padding: 15px 20px 15px 15px;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.05);
  opacity: 1;
  animation: fadeOut 5s linear forwards;
  z-index: 300;
  background-color: red;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: translateY(0px);
  }
  99% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .toast-success {
    position: absolute;
    left: 0;
    right: 0;
    top: 85px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
  }

  .toast-failure {
    font-size: 12px;
  }
}

#spinner {
  height: 80px;
  margin-bottom: 20px;
}

.spinning {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#spinner-datalist {
  position: absolute;
}

.spinning-datalist {
  top: 13%;
  left: 85%;
  height: 20px;
  width: 20px;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  margin: 0 auto;
  animation: spin 2s linear infinite;
  background-color: white;
}

@media screen and (max-width: 720px) {
  .spinning-datalist {
    height: 15px;
    width: 15px;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.endofresults {
  color: var(--primary-color);
  margin: auto;
  margin-bottom: 20px;
  font-weight: bold;
}

.item-main {
  width: 95%;
  margin: 15px auto;
  height: auto;
  background-color: white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
}

.item-main img {
  border-radius: 6px;
  height: 100%;
  width: 300px;
}

.item-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 40px;
}

.item-title {
  color: var(--primary-color);
  height: auto;
  margin-bottom: 15px;
}

.item-sub-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.item-sub-info-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 70%;
  padding-right: 15px;
}

.item-specification {
  width: 30%;
  height: 100%;
  min-height: 300px;
  background-color: var(--primary-color);
  border-radius: 6px;
  font-weight: 500;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 14px;
}

.specification {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.specification P:nth-child(1) {
  color: var(--secondary-color);
}
.specification P:nth-child(2) {
  color: white;
}

.item-description {
  font-weight: bold;
  color: #9a9a9a;
  line-height: 25px;
  text-align: justify;
  padding-right: 30px;
}

.item-price {
  margin: 30px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.item-price h1 {
  color: var(--primary-color);
}

.item-price p {
  color: red;
  margin-left: 20px;
}

.add-to-cart-button {
  width: 170px;
  height: 60px;
  background-color: var(--primary-color);
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 15px;
  border-radius: 6px;
  padding: 10px;
  transition: transform ease 100ms;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.add-to-cart-button:hover {
  transform: scale(1.1);
}

.add-to-cart-button img {
  margin-right: 10px;
  color: white;
  height: 30px;
  width: 30px;
}

.more-like-this {
  width: 95%;
  margin: 15px auto;
  height: auto;
  position: relative;
  background-color: white;
  border-radius: 6px;
  padding: 30px 0px 40px 0px;
}

.more-like-this h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 40px;
  color: var(--primary-color);
}

.more-like-this-books {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: auto;
  padding: 0px 100px 25px 40px;
  overflow: hidden;
}

.more-like-this-books .book-preview {
  flex-shrink: 0;
}

.more-like-this-books .book-preview:not(:first-child) {
  margin-left: 30px;
}

.scroller {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 70px;
  height: 250px;
  transition: transform ease 100ms;
  cursor: pointer;
  z-index: 10;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.scroller:hover {
  transform: scale(1.1);
}

.scroller img {
  height: 70px;
  width: 30px;
}

.scroller-left {
  top: 30%;
  left: 0px;
  display: none;
}

.scroller-left img {
  transform: rotate(180deg);
}

.scroller-right {
  top: 30%;
  right: 0px;
}

.item-bottom {
  height: auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px auto;
}

.reviews {
  padding: 30px;
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 6px;
}

.reviews h1 {
  font-size: 28px;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 30px;
}

.review {
  width: 100%;
  height: auto;
  border-radius: 6px;
  background-color: var(--accent-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}

.review p {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* display: none; */
}

.review a:hover {
  transform: scale(1.2);
}

.review textarea {
  resize: none;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.review button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  background-color: var(--primary-color);
  color: white !important;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  text-decoration: none;
  transition: transform ease 100ms;
  cursor: pointer;
}

.review button:hover {
  transform: scale(1.1);
  font-size: 16px;
  box-shadow: 7px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.more-from-author {
  width: 25%;
  height: auto;
  background-color: white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  margin-left: 40px;
}

.more-from-author h2 {
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 10px;
}
@media screen and (max-width: 720px) {
  .item-title {
    font-size: 28px;
    margin-top: 30px;
  }
  .item-main {
    flex-direction: column;
    padding: 20px;
    align-items: center;
  }
  .item-info {
    padding: 0px;
  }
  .item-sub-info {
    flex-direction: column;
    align-items: center;
  }
  .item-sub-info-left {
    width: 100%;
    margin-bottom: 30px;
  }
  .item-description {
    padding: 0px;
    margin-top: 30px;
    order: 2;
  }
  .item-specification {
    width: auto;
  }
  .price-cart-section {
    order: 1;
  }
  .price-cart-section a {
    margin: auto;
  }
  .more-like-this-books {
    overflow-x: scroll;
  }
  .scroller {
    display: none;
  }
  .item-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .reviews {
    width: 100%;
    order: 2;
  }
  .more-from-author {
    width: 100%;
    order: 1;
    margin-left: 0px;
    margin-bottom: 20px;
    align-items: flex-start;
    padding: 30px 0px 40px 0px;
    display: block;
  }

  .more-from-author h2 {
    font-size: 28px;
    text-align: center;
  }
  .more-from-author-books {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 100px 25px 40px;
    overflow-x: scroll;
  }

  .more-from-author-books .book-preview {
    flex-shrink: 0;
  }

  .more-from-author-books .book-preview:not(:first-child) {
    margin-left: 30px;
  }
}

.cart-main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 50px 150px 100px 100px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
}

.cart-item {
  height: 300px;
  width: 100%;
  border-radius: 6px;
  background-color: white;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.cart-item img {
  height: 250px;
  width: 200px;
  border-radius: 5px;
}

.cart-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin-left: 20px;
}

.cart-item .cart-details h1 {
  width: 100%;
  height: 50px;
  color: var(--primary-color);
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cart-details-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
}

.cart-details-entry p {
  color: var(--primary-color);
  font-weight: bold;
}

.cart-details-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-details-entry button:first-child {
  font-size: 36px;
}

.cart-details-quantity button {
  background-color: white;
  font-size: 26px;
  color: var(--primary-color);
  cursor: pointer;
}

.cart-details-quantity p {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 20px;
  margin: 8px;
}

.cart-delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  background-color: white;
  border-radius: 3px;
  border: solid 2px var(--accent-color);
  margin-left: auto;
  margin-top: 20px;
  cursor: pointer;
}

.cart-delete-button img {
  width: 24px;
  height: 24px;
}

.cart-delete-button:hover {
  transform: scale(1.1);
  transition: 0.1s ease-in-out all;
}

.cart-summary {
  height: 300px;
  width: 30%;
  background-color: white;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 100px;
}

.cart-summary h1 {
  color: var(--primary-color);
  font-size: 24px;
  margin-bottom: 30px;
}

.total p {
  font-size: 26px;
}

.buy-now-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: var(--secondary-color);
  color: white !important;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  text-decoration: none;
  transition: transform ease 100ms;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .cart-main {
    width: 95%;
    margin: 40px auto 40px auto;
    flex-direction: column;
  }

  .cart-items {
    width: 100%;
  }

  .cart-item {
    height: 250px;
    padding: 15px;
    margin-bottom: 20px;
  }

  .cart-item img {
    height: 200px;
    width: 130px;
  }
  .cart-details {
    margin-left: 10px;
  }

  .cart-details-entry p {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 16px;
  }

  .cart-item .cart-details h1 {
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .cart-details-entry {
    height: 30px;
  }

  .cart-delete-button {
    height: 35px;
    width: 35px;
    margin-top: 30px;
  }
  .cart-delete-button img {
    width: 18px;
    height: 18px;
  }

  .cart-summary {
    width: 100%;
    order: -1;
    position: static;
    margin-bottom: 20px;
  }
}

.confirmation {
  width: 90%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 30px;
  align-items: flex-start;
  margin: 30px auto;
}
.confirmation-items {
  padding: 20px;
  border: 2px solid var(--primary-color);
  width: 100%;
  border-radius: 5px;
}

.confirmation h1 {
  font-size: 36px;
  color: var(--primary-color);
  align-self: center;
  margin-bottom: 50px;
}

.confirmation h2 {
  font-size: 22px;
  color: var(--primary-color);
  align-self: flex-start;
  margin-bottom: 30px;
  margin-left: 30px;
}

.item-address-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.item-address {
  width: auto;
  border-radius: 5px;
  padding: 20px;
}

.item-address h3 {
  color: var(--primary-color);
  margin-bottom: 15px;
  font-size: 22px;
  text-decoration: underline;
}

.item-address p {
  color: var(--primary-color);
  margin-bottom: 8px;
  font-weight: bold;
}

.item-summary {
  width: 40%;
  font-size: 18px;
  color: var(--primary-color);
  border-radius: 5px;
  padding: 30px;
  border-bottom: 2px solid var(--primary-color);
}

.item-summary h3 {
  color: var(--primary-color);
  margin-bottom: 18px;
  font-size: 22px;
  text-decoration: underline;
}

.edit-address-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  background-color: var(--secondary-color);
  color: white !important;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  text-decoration: none;
  transition: transform ease 100ms;
  cursor: pointer;
  margin-top: 30px;
}

.edit-card-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  background-color: var(--secondary-color);
  color: white !important;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  text-decoration: none;
  transition: transform ease 100ms;
  cursor: pointer;
  margin-top: 30px;
}

.delete-card-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  background-color: red;
  color: white !important;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  text-decoration: none;
  transition: transform ease 100ms;
  cursor: pointer;
  margin-top: 30px;
}

.item-payment {
  padding: 20px;
  color: var(--primary-color);
  /* align-self: flex-end; */
}

.item-payment p {
  border: 2px solid var(--primary-color);
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.item-payment input[type="radio"] {
  margin-right: 10px;
}

.item-payment h3 {
  color: var(--primary-color);
  margin-bottom: 15px;
  font-size: 22px;
  text-decoration: underline;
}

.checkout-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: var(--secondary-color);
  color: white !important;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  text-decoration: none;
  transition: transform ease 100ms;
  cursor: pointer;
}
@media screen and (max-width: 720px) {
  .item-address-summary {
    flex-direction: column;
    align-items: flex-start;
  }
  .item-summary {
    width: 100%;
  }
}

.card-actions {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 720px) {
  .card-actions {
    width: 100px;
    flex-direction: column;
    align-self: center;
  }
}

.cart-empty {
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

.processing-payment {
  width: 600px;
  height: 400px;
  margin: 50px auto;
  background-color: white;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-status {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  margin-bottom: 100px;
}

.order-status img {
  height: 80px;
  width: 80px;
  margin-bottom: 25px;
}

.order-status h1 {
  margin-bottom: 25px;
  margin-left: 15px;
}

.order-bottom {
  width: auto;
  min-width: 1200px;
  height: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.05);
  margin: 25px 20px 25px 20px;
  padding: 35px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.order-summary {
  display: flex;
  color: var(--primary-color);
  flex-direction: column;
  align-items: space-between;
  margin-right: 50px;
}

@media screen and (max-width: 720px) {
  .order-bottom {
    flex-direction: column;
    min-width: 100%;
    padding: 20px;
  }
  .order-summary {
    margin-right: 0px;
    margin-top: 30px;
  }
}

.all-categories-container {
  margin: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  padding: 30px;
}

.all-categories-entry {
  display: flex;
  flex-direction: column;
  /* height: 175px; */
  width: 200px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.all-categories-entry a:first-child {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.all-categories-entry a {
  color: var(--primary-color);
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.viewbycategories-container {
  padding: 40px;
  margin: 30px;
}
/* 
.viewbycategories-container h1 {
  font-size: 32px;
  color: var(--primary-color);
  margin-bottom: 30px;
} */

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.quantity-strike-through {
  color: red;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

#reflects {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
  color: #ff5e00;
  font-size: 24px;
  font-weight: bold;
}

.out-of-stock {
  color: red !important;
  font-size: 14px;
  font-weight: bold;
  margin-top: 30px;
}
